[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
	branch = 10.x
[submodule "libs/vcv-rackthemer"]
	path = libs/vcv-rackthemer
	url = git@github.com:Doom2fan/vcv-rackthemer.git
	branch = master
